p {
    text-align: justify;
    text-indent: 25px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: #646464;
}

h1 {
    text-indent: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #646464;
}

h2 {
    text-indent: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #646464;
}

h3 {
    text-indent: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #646464;
}

h4 {
    text-indent: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #646464;
}

li {
    text-indent: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #646464;
}

audio {
    text-indent: 25px;
    color: #646464;
}

.titulo {
    text-align: center;
    text-size-adjust: ;
    color: #646464;
}

ul {
    color: #646464;
}

.caja {
    border-width: 4px;
    border-style: solid;
    border-color: #ff9642;
    width: 300px;
}

.imagen {
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}