p {
    text-align: justify;
    text-indent: 25px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
}